.carList {
  padding: 10px 20px;
}

.carList h3 {
  margin-bottom: 8px;
}

table {
  border-spacing: 1;
}

th,
td {
  border: 1px solid #fff;
}

td {
  padding: 10px 15px;
}

th {
  font-weight: 800;
}

.deleteIcon:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
