.container {
  width: 100%;
  height: 100vh;
  justify-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  width: 300px;
  margin: 0, auto;
}

.title {
  margin-bottom: 40px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.errorMessage {
  color: #c5322d;
  font-size: 10px;
  display: inline-block;
}

.button {
  font-size: 14px;
  color: white;
  background: #c5322d;
  border-bottom: 1px solid #cccccc;
  margin-top: 30px;
  width: 300px;
  height: 40px;
  text-transform: uppercase;
}

.input {
  border-bottom: 1px solid #cccccc;
  width: 300px;
  height: 50px;
}

.inputCheckbox {
  margin-right: 15px;
}

.containerCheckbox {
  margin-top: 30px;
  display: flex;
  align-self: flex-start;
}

.formToggler {
  margin-top: 20px;
  display: inline-block;
  text-decoration: underline;
  color: #747bff;
}

.formToggler:hover {
  cursor: pointer;
}
